html {
  font-size: 10px;
}

.menu {
  color: black;
  background-color: #fff;
  margin: 13px 5px;
  padding: 5px 5px 3px 5px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  outline: none;
  border-bottom: 1px solid transparent;
  vertical-align: top;
}

.menu:hover {
  border-bottom: 1.8px solid;
}

a {
  display: inline-block;
}

.link_one:hover {
  background-color: #1377b1;
  color: white;
}

.link_one:active {
  background-color: rgb(59, 59, 59);
  color: #fff;
}

.link_two:hover {
  background-color: #1377b1;
  color: white;
}

.link_two:hover:active {
  background-color: rgb(59, 59, 59);
  color: #fff;
}

.link_three:hover {
  background-color: #1377b1;
  color: white;
}

.link_three:hover:active {
  background-color: rgb(59, 59, 59);
  color: #fff;
}

.img {
  width: 14%;
  box-sizing:border-box;
  cursor: pointer;
}

.line {
  display: block;
  float: left;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url(../img/skype1.webp) no-repeat;
  background-position: right;
  background-size: 90%;
  width: 1300px;
  height: 500px;
  padding: 10px 10px;
  border-radius: 0 30px 30px 30px;
  box-sizing: content-box;
  display: inline-block;
}

.foto {
  box-sizing: content-box;
  background-size: contain;
  border-radius: 0 18px 0 0;
  width: 600px;
}

.container {
  width: 1400px;
  height: 550px;
  display: inline-block;
}

.block {
  color: rgb(0, 0, 0);
  background-color: rgb(230, 228, 228);
  font-size: 20px;
  border-radius: 0 20px 20px 20px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  text-decoration: none;
  width: 600px;
  height: 620px;
  display: block;
  box-sizing: content-box;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
  overflow: hidden;
}

.help {
  color: rgb(58, 58, 58);
  text-align: left;
  padding: 40px 10px 10px 25px;
  margin: 0px;
  font-size: 40px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.chat {
  color: rgb(58, 58, 58);
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin: 0px;
  padding: 5px 10px 5px 25px;
  display: inline-block;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.conditions {
  color: rgb(58, 58, 58);
  font-style: normal;
  font-size: 14px;
  text-align: left;
  margin: 0px;
  padding: 10px 10px 5px 25px;
  display: block;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.skype {
  text-align: left;
  padding: 13px 20px;
  margin: 0px;
  font-size: 20px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  color: rgba(19, 17, 17, 0.856);
}

.number {
  font-style: normal;
  font-size: 18px;
  text-align: left;
  margin: 0px;
  padding: 13px 20px 20px 20px;
  color: rgba(19, 17, 17, 0.856);
}

.link_one {
  text-align: center;
  color: #fff;
  background-color: #008ddd;
  padding: 13px 13px;
  margin-left: 25px;
  margin-top: 35px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 22px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  outline: none;
  font-weight: bold;
  box-sizing: content-box;
  border-bottom: 1px solid transparent;
}

.link_two {
  text-align: center;
  padding: 12px 12px;
  margin-left: 15px;
  margin-top: 10px;
  color: #fff;
  background-color: #008ddd;
  text-decoration: none;
  font-size: 16px;
  border-radius: 22px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  outline: none;
  font-weight: bold;
  box-sizing: content-box;
  border-bottom: 1px solid transparent;
}